.verification-modal {
  width: 400px;
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  font-family: sans-serif;
}

.verification-header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.verification-header h2 {
  margin: 0;
  font-size: 32px ;
  font-weight: 500;
}

.verification-header .icon {
  display: inline-block;
  padding-bottom: 10px;
}

.verification-header .close-btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.instruction {
  font-size: 16px;
  align-items: center;
  color: #787878;
  text-align: center;
}

.change-btn {
  background: none;
  border: none;
  color: #e60023;
  cursor: pointer;
  font-weight: bold;
}

.code-inputs {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 24px 0;
}

.code-inputs input {
  padding: 16px 14px;
  font-size: 16px;
  width: 60px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.verify-btn {
  padding: 8px 24px !important;
  font-size: 24px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  width: fit-content;
}
.butwrap{
  display: flex;
  justify-content: center;
}
.verify-btn:hover {
  opacity: 0.9;
}

.resend-section {
  text-align: center;
  margin-top: 12px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
}

.resend-btn {
  display: block;
  background: none;
  border: none;
  color: #e60023;
  cursor: pointer;
  font-weight: bold;
  margin-top: 4px;
}

